<div>
<label><b>Title:</b></label>
<span><%= recipe.title %></span>
</div>
<div>
<label><b>Ingredients:</b></label>
<span><%= recipe.ingredients %></span>
</div>
_____________________________________
